<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://cdn.tailwindcss.com"></script>
    <link rel="stylesheet" href="main.js">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Manrope:wght@200..800&family=Mansalva&family=Outfit:wght@100..900&display=swap" rel="stylesheet">
    <script>
        tailwind.config = {
            theme: {
            extend: {
            fontFamily: {
                sans: ['Mansalva', 'Arial', 'sans-serif'],
                serif: ['Manrope', 'Times New Roman', 'serif'],
                mono: ['Outfit', 'Courier', 'monospace'],
                custom: ['YourCustomFont', 'sans-serif'],
            },
            colors: {
              clifford: '#da373d',
              bd: '#E9F1EE',
              green:'#49A760',
              light:'#C0C0C0',
              vert:'#144B15 ',
              grr:' #4BAF47',
              ba:'#3A864D',
              bb:'#24231D',

        },
            
        },
    },
       };
   </script>
    <title>Plus d'informations</title>
</head>
<body>
  <header class="">
   
    
        
        <img src="https://i.postimg.cc/vH7jgkkJ/pexels-quang-nguyen-vinh-222549-6130149-1.png" alt="" class="bg-no-repeat bg-center bg-cover absolute w-full">
        
      </div>
      <div class=" ">
        <div class="relative lg:top-[100px] top-[40px] ml-[50px] lg:ml-[370px]">
        <h2 class="text-4xl mx-64 md:text-7xl font-serif  text-white ">Plus  D'informations</h2>
      </div>
  </header>
  <div class="mx-64">
    <section class="lg:mt-[400px] max-w-full w-[1100px] max-md:mt-10 lg:mx-[70px] mx-0">
        <div class="flex gap-5 max-md:flex-col max-md:gap-0">
        <div class="flex flex-col w-[30%] max-md:ml-0 max-md:w-full">
            <img src="https://i.postimg.cc/dVtW718C/Group-13.png" alt="" class=" max-md:mt-8" />
        </div>
        <article class="mt-8 flex flex-col ml-5 w-[70%] max-md:ml-0 max-md:w-full">
            <div class="font-mono justify-center text-center px-16 pt-12 pb-20 w-full text-2xl font-light text-black bg-white rounded-3xl shadow-2xl leading-[70px] max-md:pt-10 max-md:pr-7 max-md:pl-5 max-md:mt-8 max-md:max-w-full">
            Analyze soil samples to determine nutrient levels and make personalized fertilizer recommendations.
            </div>
        </article>
        </div>
    </section>
    <section class="mt-20 max-w-full w-[1100px] max-md:mt-10 lg:mx-[70px] mx-0">
        <div class="flex gap-5 max-md:flex-col-reverse max-md:gap-0">
        <article class="flex flex-col w-[70%] max-md:ml-0 max-md:w-full">
            <div class="font-mono text-center justify-center px-16 pt-12 pb-30 mt-9  w-full text-2xl font-light text-black bg-white rounded-3xl shadow-2xl leading-[70px] max-md:px-5 max-md:pt-10 max-md:mt-7 max-md:max-w-full">
            Provide crop-specific fertilizer recommendations based on factors such as crop type, growth stage, and environmental conditions.
            </div>
        </article>
        <div class="flex flex-col ml-5 w-[30%] max-md:ml-0 max-md:w-full">
            <img  src="https://i.postimg.cc/pTws6J5b/Group-14.png" alt="Fertilizer recommendation" class=" grow w-full  max-md:mt-8" />
        </div>
        </div>
    </section>
    <section class="mt-20 max-w-full w-[1100px] max-md:mt-10 lg:mx-[70px] mx-0">
        <div class="flex gap-5 max-md:flex-col max-md:gap-0">
        <div class="flex flex-col w-[30%] max-md:ml-0 max-md:w-full">
            <img  src="https://i.postimg.cc/XYjQmJqJ/Group-15.png" alt="Detailed recommendations" class="grow w-full  max-md:mt-7" />
        </div>
        <article class="flex flex-col ml-5 w-[70%] max-md:ml-0 max-md:w-full">
            <div class="font-mono text-center justify-center px-16 pt-12 pb-30 mt-9  w-full text-2xl font-light text-black bg-white rounded-3xl shadow-2xl leading-[70px] max-md:px-5 max-md:pt-10 max-md:mt-7 max-md:max-w-full">
            Recommendations: Generate detailed fertilizer recommendations that include the type, quantity, and timing of fertilizer application.
            </div>
        </article>
        </div>
    </section>
    <section class="mt-20 max-w-full w-[1100px] max-md:mt-10 lg:mx-[70px] mx-0">
        <div class="flex gap-5 max-md:flex-col-reverse max-md:gap-0">
        <article class="mt-12 flex flex-col w-[70%] max-md:ml-0 max-md:w-full">
            <div class="font-mono text-center justify-center px-12 pt-18 py-12 pb-30 mt-9  w-full text-2xl font-light text-black bg-white rounded-3xl shadow-2xl leading-[70px] max-md:px-5 max-md:pt-10 max-md:mt-7 max-md:max-w-full">
            Track fertilizer application history to avoid over-fertilization and optimize nutrient use efficiency.
            </div>
        </article>
        <div class="flex flex-col ml-5 w-[30%] max-md:ml-0 max-md:w-full">
            <img src="https://i.postimg.cc/BQMx8CZS/Group-16.png" alt="Optimize nutrient use" class="grow w-full  max-md:mt-8" />
        </div>
        </div>
    </section>
    <div class="mt-[150px] lg:mx-[400px] mx-[90px]">
    <a  class="font-mono justify-center items-center px-32 py-10 mt-60 max-w-full text-2xl font-bold leading-9 text-center text-white bg-grr lg:rounded-3xl rounded-md max-md:px-5 max-md:mt-10" href="/services">
    Retour à La page
    </a>
    </div>
    </section>
</div>

<footer class="bg-grr text-white py-12 px-4 md:px-8 lg:px-16 mt-[80px]">
  <div class="container mx-auto">
    <div class="grid grid-cols-2 md:grid-cols-2 lg:grid-cols-3 gap-8">
     
      <div>
        <h2 class="text-3xl font-bold mb-4">
          <span class="text-black">Agri</span>
          <span class="text-stone-700">Nature</span>
        </h2>
        <p class="text-sm">
          © 2024 AgriNature. Designed to empower sustainable agriculture
          through data-driven fertilization recommendations.
        </p>
      </div>

      <div class="ml-[50px]">
        <h3 class="text-xl font-bold mb-4">Explore</h3>
        <div class="w-16 h-1 bg-green-500 mb-4"></div>
        <ul class="space-y-2">
          <li><a href="home.html" class="hover:text-green-500">Home</a></li>
          <li><a href="About us.html" class="hover:text-green-500">About</a></li>
          <li><a href="services.html" class="hover:text-green-500">Services</a></li>
          <li><a href="#" class="hover:text-green-500">Contact</a></li>
        </ul>
      </div>

     
      <div>
        <h3 class="text-xl font-bold mb-4">Contact</h3>
        <div class="w-16 h-1 bg-green-500 mb-4"></div>
        <ul class="space-y-2">
          <li class="flex items-center space-y-2">
            <svg class="w-4 h-4 mr-2 " fill="yellow" viewBox="0 0 20 20">
              <path d="M2 3a1 1 0 011-1h2.153a1 1 0 01.986.836l.74 4.435a1 1 0 01-.54 1.06l-1.548.773a11.037 11.037 0 006.105 6.105l.774-1.548a1 1 0 011.059-.54l4.435.74a1 1 0 01.836.986V17a1 1 0 01-1 1h-2C7.82 18 2 12.18 2 5V3z"></path>
            </svg>
            0664253424
          </li>
          <li class="flex items-center space-y-2">
            <svg class="w-4 h-4 mr-2" fill="yellow" viewBox="0 0 20 20">
              <path d="M2.003 5.884L10 9.882l7.997-3.998A2 2 0 0016 4H4a2 2 0 00-1.997 1.884z"></path>
              <path d="M18 8.118l-8 4-8-4V14a2 2 0 002 2h12a2 2 0 002-2V8.118z"></path>
            </svg>
            AgriNature@gmail.com
          </li>
          <li class="flex items-center space-y-2">
            <svg class="w-4 h-4 mr-2" fill="yellow" viewBox="0 0 20 20">
              <path fill-rule="evenodd" d="M5.05 4.05a7 7 0 119.9 9.9L10 18.9l-4.95-4.95a7 7 0 010-9.9zM10 11a2 2 0 100-4 2 2 0 000 4z" clip-rule="evenodd"></path>
            </svg>
            Agadir, rue Hassan 2
          </li>
        </ul>

      
    
      </div>
    </div>
    <form class=" flex gap-5 self-end pl-5 mt-8 max-w-full text-xs font-semibold bg-white rounded-xl border border-solid border-stone-100 text-neutral-500 w-[262px] max-md:pl-5">
      <label for="emailAddress" class="sr-only  ">Your Email Address</label>
      <input class="flex-auto my-auto " type="email" id="emailAddress" placeholder="Your Email Address" aria-label="Your Email Address" />
      <button type="submit">
        <img  src="https://cdn.builder.io/api/v1/image/assets/TEMP/7e1650682a1095d97ab435e39992bf47a2cf88d1bbaeb032982165b8d6a7e6f1?apiKey=0b69390d977a4a878ed863a38b2aa8dd&" alt="Submit Email" class="shrink-0 aspect-square w-[50px] " />
      </button>
    </form>
  </div>
</footer>
    
  </body>
</html>